body{
  background-color: rgb(24, 10, 10);
}
.container{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.stopwatch{
  color: palegreen;
  font-size: 100px;
}
.btn{
  padding: 10px;
  color: black;
  background-color: yellowgreen;
  border-radius: 10px;
margin: 20px;
font-size: 15px;
}
.btn:hover{
  background-color: yellow;
}